/Jos Dirksen - Learning Three.js _ programming 3D animations and visualizations for the web with HTML5 and WebGL-Packt (2018).pdf
/node_modules
/Rakesh Baruah - AR and VR Using the WebXR API_ Learn to Create Immersive Content with WebGL, Three.js, and A-Frame-Apress (2021).pdf